<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.postgresql.Driver" />
    <property name="url" value="jdbc:postgresql://localhost:5432/oada" />
    <property name="username" value="postgres" />
    <property name="password" value="pgadmin" />
  </bean>

  <bean id="pgresourceDAO" class="com.climate.oada.dao.impl.PostGISResourceDAO">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <bean id="ddbDAO" class="com.climate.oada.dao.impl.DynamodbDAO">
  </bean>

  <bean id="s3DAO" class="com.climate.oada.dao.impl.S3ResourceDAO">
  </bean>
</beans>
